
#one{
    margin-right: 1%;
    font-size: 100%;
    margin-left: 2%;
    width: 150%;
    padding-bottom:5%;
    border-bottom: 2px solid #E5E7E9;
}

#two{
    margin-right: 1%;
    font-size: 100%;
    margin-left: 2%;
    width: 100%;
    padding-top:5%;
    padding-bottom:5%;
    border-bottom: 2px solid #E5E7E9;

}
#three{
    margin-right: 1%;
    font-size: 100%;    
    margin-left: 2%;
    width: 100%;
    padding-top:5%;
    padding-bottom:5%;
    border-bottom: 2px solid #E5E7E9;

}
#four{
    margin-right: 1%;
    font-size: 100%;    
    margin-left: 2%;
    width: 100%;
    padding-top:5%;
    padding-bottom:5%;
    border-bottom: 2px solid #E5E7E9;

}

#image{
    border-radius: 50%;
    font-size: 200%;
}

#deco{
    position: relative;
    top: 16%;
    left: 70%;
    font-size: 110%;
}
header{
    margin-bottom: 10%;
    background-color: #E5E7E9;
    padding-bottom: 5%;

}

firt{
    padding-bottom: 10%;

}