<header>
  <div [routerLink]="['/connect']" id="deco" class="text-dark">Déconnexion</div>
  <a id="firt" class="text-dark" [routerLink]="['/ac']">
    <div id="imge" class="fs-3 ">
      <ion-icon size="large" name="arrow-back-outline"></ion-icon>
    </div>
  </a>
  <div class="text-center">
    <button color="text-white" id="image">
      <ion-icon size="large" name="person-outline"></ion-icon>
    </button>
  </div>
  <div class="text-center fw-bold">
    N de matricule 
  </div>
  <div class="fs-3 text-secondary text-center">
    Nom Prenom
  </div>
</header>

<ion-content>
  <div class="container">
    <div class="row">
      <a id="one" [routerLink]="['/info']">
        <div class="text-dark">
          Infos Personnelle 
        </div>
      </a> 
      <a id="two" [routerLink]="['/message']">
        <div class="text-dark">
          Messagerie
        </div>
      </a> 
      <a id="four" [routerLink]="['/notif']">
        <div class="text-dark">
          Notification 
        </div>
      </a> 
      <a id="three" [routerLink]="['/aide']">
        <div class="text-dark">
          Aide
      </div>
      </a>
    </div>
  </div>
</ion-content>
