<header>
  <a id="firt" class="text-dark" [routerLink]="['/para']">
    <div id="imge" class="fs-3 ">
      <ion-icon size="large" name="arrow-back-outline"></ion-icon>
    </div>
  </a>
  <div class="text-center">
    <button color="text-white" id="image">
      <ion-icon size="large" name="person-outline"></ion-icon>
    </button>
  </div>
  <div class="fs-3 text-secondary text-center">
    Nom Prenom
  </div>
</header>

<ion-content>
  <div class="container">
    <div class="row">
      <a id="one" [routerLink]="['/connect']">
        <div id="soOne" class="text-secondary">
          Adresse Mail
        </div>
        <div class="text-dark">
          Adresse Mail UCAO 
        </div>
      </a> 
      <a id="two">
        <div id="soTwo" class="text-secondary">
          N de matricule
        </div>
        <div class="text-dark">
          --- ---- 
        </div>
      </a> 
    </div>
  </div>  
</ion-content>