header{
    margin-bottom: 10%;
    background-color: #E5E7E9;
    padding-bottom: 5%;
}

#firt{
    padding-bottom: 10%;
    position: relative;
    top:14%;
}

#one{
    margin-right: 1%;
    font-size: 100%;
    margin-left: 2%;
    width: 150%;
    padding-bottom:5%;
    border-bottom: 2px solid #E5E7E9;
}

#two{
    margin-right: 1%;
    font-size: 100%;
    margin-left: 2%;
    width: 100%;
    padding-top:5%;
    padding-bottom:5%;
    border-bottom: 2px solid #E5E7E9;

}

#image{
    border-radius: 50%;
    font-size: 200%;
}